border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

div.description
  position absolute
  top 20px
  left 0
  width 50%
  padding 0 0 0 50px

div.index-form_container
  position absolute
  top 20px
  right 0
  width 50%
  text-align right

form#index-form
  margin-right 50px

form input[type=text]
form input[type=password]
  border-radius 3px
  -webkit-box-shadow 0px 1px rgba(255, 255, 255, 0.5)
  -moz-box-shadow 0px 1px rgba(255, 255, 255, 0.5)
  box-shadow 0px 1px rgba(255, 255, 255, 0.5)
  border 0
  padding 10px
  font-size 1.3em
  color #aaa
  border solid 1px #ccc
  margin 0 0 20px
  min-width 200px
  width 100%

  &:focus
    border solid 1px #EEA34A

form button.submit
  border-radius 3px
  border solid 1px #ccc
  padding 10px 20px
  marign 0 0 20
  font-size 1.2em
  font-weight bold
  color #333
  cursor pointer
